html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: border-box;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  background-color: hsl(120, 25%, 95%);
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
  width: 100%;
  height: 100vh;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}


.main-header{
  font-size: 3rem;
}

.to-do__container{
  width: min(100%, max(80rem));
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: .5rem;
  background-color:hsl(120, 10%, 90%);
  box-shadow: 2px 2px 10px hsla(120, 0%, 0%, .4);
  padding: 1rem;
}

/* New wentry */
.to-do__new-entry{
  width: 100%;
  height: auto;
  display: flex;
  gap: .5rem;
  flex-direction: row;
  align-items: center;
}

.new__entry-input{
  width: 100%;
  height: 3rem;
}

.new__entry-btn{
  border: none;
  background-color: transparent;
}

.new__entry-btn-ico{
  margin: none;
  padding: none;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new__entry-btn-ico:hover{
  cursor: pointer;
  font-weight: 600;
}

/* Items */
.to-do__list{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.item__btn{
  background-color: transparent;
  border: none;
}

.item__function-box-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-do__item{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: .5rem;
  border-bottom: 1px solid hsla(120, 0%, 0%, .4);
}

.to-do__item:last-of-type{
  border-bottom: none;
}

.item__text{
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
}

.item__fnc-btn-ico:hover{
  cursor: pointer;
  font-weight: 600;
}

.item__edit-btn-ico{
  color: hsl(210, 50%, 50%)
}

.item__delete-btn-ico{
  color: hsl(0, 50%, 50%)
}